.container{
  width: 75%;
  margin: auto;
  text-align: center; 
}
.flex-box-container-2, .flex-blackjack-row-1,.flex-blackjack-rwo-2,.flex-blackjack-row-3{
    display: flex;
    border: 1px rgb(39, 145, 18);
    flex-wrap: wrap;
    justify-content: space-around;
    /* align-content: space-around; */
    padding: 5px;
}
.flex-blackjack-row-1,.flex-blackjack-rwo-2{
  background-color: rgb(2, 73, 2);
  color: #fff;
}
.flex-blackjack-row-1 div{
  padding: 5px;
  height: 350px;
  text-align: center;
  flex:1;
  border: 2px solid rgb(9, 153, 4);
  margin: 5px;
  border-radius: 8px;
}
.flex-blackjack-rwo-2 button{
  border: 1px solid rgb(0, 0, 0);
  margin: 4px;
  /* box-shadow: 0px 2px 3px rgb(0, 0, 0) */
}
.flex-blackjack-rwo-2 div{
  /* border: 1px solid black; */
}
table{
  /* margin: auto;  */
  padding: 5px;
  text-align: center;
}
table th, table td{
  border: 2px solid rgb(3, 94, 22); 
  padding: 10px;
}

.flex-box-container-2 img{
    margin: 6px;
    padding: 4px;
    border-radius: 12px;
    box-shadow: 0px 5px 20px rgba(52, 59, 71, 0.2);
    /* border: 1px solid crimson; */
}

.flex-box-rps img:hover{
  background-color: #0679fdc9;
  border-radius: 16px;
  box-shadow: 0px 5px 20px rgba(87, 147, 252, 0.2);

}

.flex-box-pick-color{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* #your-box,#dealer-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
} */

#your-box img,#dealer-box img{
  /* width: 20%;*/
  height: 100px;
  padding: 5px;
}